.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #FF0000;
}