.table {
	margin-top: 5vmin;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: auto;
}

th, td {
	padding-left: 50px;
	padding-right: 50px;
}

#name, #details {
	text-align: left;
}

.detailed_images {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    margin-left: 5px;
}